<h1>About the topics</h1>
<h2>努力是平庸者的专利，因为平庸才需要努力</h2>
<blockquote>无论做什么决定，都不需要你迅速做出决定。你要想尽一切办法，给你决定做的事情，赋予一层又一层的意义
不管三七二十一，最重要的是做一个完整的作品.</blockquote>
<p>By 李笑来</p>
<p>很高兴能您们成为同学，感谢一路有你们的陪伴</p>

<%= link_to 'Back', topics_path%>
